.table-outline {
    border: 1px;
    border-style: solid;
    border-spacing: 0px;
    text-align: center;
    width: 100%;
}

.table-noborder{

    border-style: none;
}

.box {
    border: 3px;
    border-style: solid;
    text-align: left;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}

.upload-box {
    margin: auto;
}

.file-form {
    text-align: center;
    width: 100%;
    padding: .5px;
    background-color: rgb(245, 255, 171);
}

/* v2 CSS */

* {
    font-size: x-small;
}

table {
    border: 0px;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
}

td {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0;
    margin: 0;
}

tr {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0;
    margin: 0;
}

.table-main {
    table-layout: fixed;
    outline: solid;
    width: 100%;
}

.table-main td {
    border-collapse: collapse;
    text-align: center;
}

.table-main tr {
    border-collapse: collapse;
}

.table-nested {
    height: 100%;
    width: 100%;
}

.table-nested td{
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

th[scope='col'] {
    text-align: center;
}

th[scope='colgroup'] {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    white-space: nowrap;
}

th[scope='row'] {
    text-align: right;
}

.table-component {
    background-color: rgb(215, 245, 255);
    table-layout: fixed;
    width: fit-content;
}

.table-component tr:hover {
    background-color: beige;
}

.table-attribute tr tr:hover tr:nth-child(even) {
    background-color: transparent;
}

@media print {
    .noPrint{
      display:none;
    }
  }

