.table-outline {
    border: 1.5px;
    border-style: solid;
    border-spacing: 0px;
    text-align: center;
    width: 100%;
}

.table-noborder{

    border-style: none;
}

.box {
    border: 1.5px;
    border-style: solid;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-box {
    margin: auto;
}

.file-form {
    text-align: center;
    width: 100%;
    padding: .5px;
    background-color: rgb(245, 255, 171);
}

/* v2 CSS */

.table-main {
    table-layout: fixed;
    outline: solid;
}

.table-main td {
    padding-left: 20px;
    background-color: rgb(169, 169, 255);
}

.table-main tr {
    background-color: rgb(217, 255, 163);
}

.table-nested {
    height: 100%;
    width: 100%;
    background-color: rgb(233, 210, 255);
}

th[scope='col'] {
    text-align: center;
    background-color: aqua;
}

th[scope='row'] {
    text-align: right;
}


