.table-outline {
    border: 1.5px;
    border-style: solid;
    border-spacing: 0px;
    text-align: center;
    width: 100%;
}

.table-noborder{

    border-style: none;
}

.box {
    border: 1.5px;
    border-style: solid;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.upload-box {
    margin: auto;
}

.file-form {
    text-align: center;
    width: 100%;
    padding: .5px;
    background-color: rgb(245, 255, 171);
}

/* v2 CSS */

.table-main {
    outline: solid;
}

th[scope='col'] {
    text-align: center;
    background-color: aqua;
}

.table-wrapper {
    /* */
}

